* {
    margin: 0;
    padding: 0;
    
    /* background-color: pink;  */
    
}
.container {
  margin-left: 10%;
  margin-right: 10%;
}
.main {
     width: 100%;
    height: 100%;
    background-color: #1E90FF;
    
    
}
.first {
    /*  */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: 50px; */
    /* border: 1px groove red; */
    color: #444;
    text-shadow: 
        1px 0px 1px #ccc, 0px 1px 1px #eee, 
        2px 1px 1px #ccc, 1px 2px 1px #eee,
        3px 2px 1px #ccc, 2px 3px 1px #eee,
        4px 3px 1px #ccc, 3px 4px 1px #eee,
        5px 4px 1px #ccc, 4px 5px 1px #eee,
        6px 5px 1px #ccc, 5px 6px 1px #eee,
        7px 6px 1px #ccc;
    
}
.location {
    font-family: 'Dancing Script', cursive;
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: bolder;
    
}
.result {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    /* background-color: #00BFFF; */
    font-family: 'Dancing Script', cursive;
    
}

p {
    margin-bottom: 15px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;


}
h3 {
    color: white;
}


/* search bar design... */

input {
  cursor: pointer;
}

.box{
    margin: 50px auto;
    width: 300px;
    height: 50px;
  }
  .container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-1 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
  }
  .container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 170px;
    margin-top: 5px;
    z-index: 1;
    color: #4f5b66;
  }

  .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }

  .r {
    color: #FFDC00;
    /* font-style: bolder; */
  }
  
  #loading {
    color: red;
  }

  